@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --green: #a5c927;
  --font-inter: 'Inter', sans-serif;
  --font-garamond: 'Garamond', serif;
  --orange: #ed6d46;
}

* {
  scroll-behavior: smooth;
  user-select: none;
}







@media (max-width: 640px) {
  .increase,
  .decrease {
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem !important;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 0.5rem;
  }
}


@media (max-width: 640px) {
  #cart-close {
    font-size: 1.5rem !important;
    padding: 0.5rem !important;
  }
}


@media (max-width: 768px) {
  .remove {
    font-size: 1.25rem !important;
    padding: 0.5rem !important;
    min-width: 2.5rem;
    min-height: 2.5rem;
    border-radius: 0.5rem;
  }
}



