@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --green: #a5c927;
  --font-inter: 'Inter', sans-serif;
  --font-garamond: 'Garamond', serif;
}




